.unsub-button{
  margin-left: 21px;
}

mat-card{
  max-width: 900px;
  text-align: center;
  margin: 1em auto;
  max-height: 250px;
  min-height: 250px;
  border: solid;
}

mat-list{
  height: 185px;
}
