<mat-card >
  <h2> {{course.name}}</h2>
   <p>
     {{course.description}}
   </p>

  </mat-card>

<div class="messaging">
     <div class="inbox_msg">
       <div class="mesgs">
         <div class="msg_history" >
           <div *ngFor="let message of messages">
           <div *ngIf="message.userId != userId" class="incoming_msg">
             <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
             <div class="received_msg">
               <div class="received_withd_msg">
                 <p>{{message.text}}</p>
                 <span class="time_date"> {{message.login}} {{message.date}}</span></div>
             </div>
           </div>
           <div  *ngIf="message.userId == userId" class="outgoing_msg">
             <div class="sent_msg">
               <p>{{message.text}}</p>
               <span class="time_date"> {{message.login}} {{message.date}}</span> </div>
           </div>
           </div>
         <div class="type_msg">
           <div class="input_msg_write">
             <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="text" />
             <button class="msg_send_btn" type="button"(click)="addMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
           </div>
         </div>
       </div>
     </div>
   </div>
