<mat-card >
  <mat-card-content>
    <h2> Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-error *ngIf="loginError!=''">
        {{loginError}}
      </mat-error>
      <mat-form-field class="full-width-input">
      <input matInput formControlName="login"
             type="text"
             required
             placeholder="name">
             <mat-error>
              Please provide a valid login
            </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput formControlName="password"
               type="password"
               required
               placeholder="password">
               <mat-error>
                Please provide a valid password
              </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary"> Login </button>

    </form>
  </mat-card-content>
  </mat-card>
